<footer class="page-footer">
    <div class="container">
    
    </div>
    <div class="footer-copyright">
        <div class="container">
        © <%= year %> Copyright Temp Corp

        </div>
    </div>
</footer>