<footer class="page-footer blue-grey darken-4">
  <div class="container left-align">
    <h5>About Us</h5>
    <p>We are a team of developers who saw the limitations of modern day social media. Social media is limited to simply connecting with people online. We created this site to provide a unique way for friends to be linked together online, and to motive our users to complete challenges in the real world to compete with their friends.</p>
  </div>
</footer>