<div class="navbar-fixed">
  <nav>
    <div class="container nav-wrapper">
      <a href="#" class="brand-logo">Project 2</a>
      <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="/">Home</a>
        </li>
        <% if (user){%>
          <li>
            <a href="<%='/profile/' + user.userId %>">
            <%=user.username%></a>
          </li>
        <% }else {%>
          <li>
            <a href="/login">Login</a>
          </li>
          <li>
            <a href="/register">Sign Up</a>
          </li>
        <%}%>
      </ul>
    </div>
  </nav>
  <ul class="sidenav" id="mobile">
    <li>
      <a href="/">Home</a>
    </li>
    <% if (user){%>
      <li><a href="/account">
      <%= user.username %>
      </a></li>
    <% }else {%>
      <li>
        <a href="/login">Login</a>
      </li>
      <li>
        <a href="/register">Sign up</a>
      </li>
    <%}%>
  </ul>
</div>