#groupProfileImg {
  width: 100%;
}

h2 {
  font-size: 30px;
  margin: 10px 0;
  text-align: center;
}

strong {
  font-size: 20px;
}

.collapsible {
  margin-top: 0px !important;
}

.collapsible-body-form {
  padding: 12px !important;
}

.profile-btns {
  width: 100%;
  margin-bottom: 15px;
}

#new-task {
  width: 100%;
}

#profileColumn {
  margin-bottom: 10px;
}

#memberDiv a {
  text-decoration: none;
}

.deleteButton {
  width: 100%;
}

.member {
  margin: 10px 0;
}
.member .s8 {
  padding-left: 40px;
}
.member .s4 {
  padding-right: 40px;
}

@media (min-width: 375px) {
  .deleteButton {
    width: inherit;
  }
}

@media (min-width: 576px) {
  h2 {
    font-size: 20px;
    text-align: left;
  }
  #profileColumn {
    margin-bottom: 0px;
  }

  #new-task {
    display: block;
    width: 200px;
    margin: 0 auto;
  }

  .collapsible-body-form {
    padding: 28px !important;
  }
}

@media (min-width: 601px) and (max-width: 1400px) {
  .deleteButton {
    width: 100%;
  }
}

@media (min-width: 992px) {
  h2 {
    font-size: 30px;
  }
}

#membersDiv {
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}
#membersDiv .col.s8 {
  padding-left: 0px;
}
