#groupProfileImg {
  width: 100%;
}

h2 {
  font-size: 30px;
  margin: 10px 0;
  text-align: center;
}

.profile-btns {
  width: 100%;
  margin-bottom: 15px;
}

#new-task {
  width: 100%;
}

#profileColumn {
  margin-bottom: 10px;
}

#memberDiv a {
  text-decoration: none;
}
.member {
  margin: 10px 0;
}
.member .s8 {
  padding-left: 40px;
}
.member .s4 {
  padding-right: 40px;
}

#joinGroup #leaveGroupButton{
  display: block;
  width: 100%;
  margin-bottom: 50px;
}


@media (min-width: 576px) {
  h2 {
    font-size: 20px;
    text-align: left;
  }
  #profileColumn {
    margin-bottom: 0px;
  }

  #new-task {
    display: block;
    width: 200px;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  h2 {
    font-size: 30px;
  }
}

