h2 {
  font-size: 30px;
  margin: 10px 0;
  text-align: center;
}

#join-groups {
  width: 100%;
}

#profileImg {
  width: 100%;
}

.mb {
  margin-bottom: 15px;
}

.group-name {
  font-weight: bold;
  letter-spacing: 1px;
}

.profile-btns {
  margin-bottom: 15px;
  width: 100%;
}

/**** Media Queries ****/

@media (min-width: 576px) {
  h2 {
    font-size: 20px;
    text-align: left;
  }
  #profileColumn {
    margin-bottom: 0px;
  }

  #join-groups {
    display: block;
    margin: 0 auto;
    width: 200px;
  }
}

@media (min-width: 992px) {
  h2 {
    font-size: 30px;
  }
}
