#profileImg {
  width: 100%;
}

.mb {
  margin-bottom: 15px;
}

h2 {
  font-size: 30px;
  margin: 10px 0;
  text-align: center;
}

#join-groups {
  display: block;
  width: 200px;
  margin: 0 auto;
}

.profile-btns {
  width: 100%;
  margin-bottom: 15px;
}

#profileColumn {
  margin-bottom: 10px;
}

@media (min-width: 576px) {
  h2 {
    font-size: 20px;
    text-align: left;
  }
  #profileColumn {
    margin-bottom: 0px;
  }
}

@media (min-width: 992px) {
  h2 {
    font-size: 30px;
  }
}
