* {
  font-family: 'Noto Sans', sans-serif;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #eeeeee;
}

main {
  flex: 1 0 auto;
}

.btn {
  background-color: #4caf50 !important;
}

input {
  border-bottom-color: #4caf50 !important;
}

.page-footer {
  padding: 10px !important;
}

h2,
h3,
h4,
h5 {
  margin: 0;
}

.navbar-fixed {
  margin-bottom: 15px;
}
