* {
  font-family: 'Sunflower', sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #eeeeee;
}

main {
  flex: 1 0 auto;
}

input {
  border-bottom-color: #4caf50 !important;
}

h2,
h3,
h4,
h5 {
  margin: 0;
}

.brand-logo {
  font-size: 12px !important;
}

.btn,
.btn-large {
  background-color: #4caf50 !important;
}

.page-footer {
  padding: 10px !important;
  font-size: 14px;
}

.navbar-fixed {
  margin-bottom: 15px;
}

.formDiv {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 15px 10px !important;
}

@media (min-width: 370px) {
  .brand-logo {
    font-size: 20px !important;
  }
}
