<div class="chat-container container p-0 mx-auto">
  <h2 class="text-center bg-primary p-2 mb-0 text-white">Group Chat</h2>
  <div class="chat-msgs border border-top-0 border-bottom-0">
    <!-- span for name -->
    <!-- span for msg -->
  </div>
  <div class="bg-white">
    <!-- ADD LOGIC TO INCLUDE CHAT ID FOR data-room -->
    <textarea name="input" data-room="0" class="border p-3" id="send-msg" cols="0" rows="1" placeholder="New Message"></textarea>
  </div>
</div>