<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text">
            <i class="material-icons">flash_on</i>
          </h2>
          <h5 class="center">Compete With Friends</h5>

          <p class="light">Get competitive with your friends, and compete to win the challenges for your groups. Find a group you like? Go ahead and join. Each group has its own unique set of challenges, and its own private chat room.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text">
            <i class="material-icons">group</i>
          </h2>
          <h5 class="center">Compare Your Scores</h5>

          <p class="light">Track your total challenge completion to see how you compare to the rest of your group. Each challenge has a numeric value specified by the group admin. When you complete a challenge your group admin will review your submission, and approve or deny the points</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text">
            <i class="material-icons">settings</i>
          </h2>
          <h5 class="center">Have Fun</h5>

          <p class="light">We provide a way for you to easily connect, and get competitive with your friends, and make new friends. Each group is unique, and we give you full power to create new groups at your desire for other people to join. </p>
        </div>
      </div>
    </div>

  </div>

  <br>
  <br>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="/assets/img/home-img.jpeg"></div>
</div>