<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text">
            <i class="material-icons">flash_on</i>
          </h2>
          <h5 class="center">Compete With Friends</h5>

          <p class="light">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat, magnam. Doloremque repudiandae neque quod vel enim minus blanditiis, dolorum nihil.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text">
            <i class="material-icons">group</i>
          </h2>
          <h5 class="center">Compare Your Scores</h5>

          <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis dolorem alias reiciendis incidunt in distinctio quasi magni iure similique? Voluptatum assumenda expedita pariatur nihil amet asperiores optio ex eveniet iusto.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text">
            <i class="material-icons">settings</i>
          </h2>
          <h5 class="center">Have Fun</h5>

          <p class="light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam, nobis. Debitis libero provident officia eligendi facilis enim totam quisquam placeat.</p>
        </div>
      </div>
    </div>

  </div>
  <br>
  <br>
</div>