<div class="container">
  <div class="row">

    <form class="col s12" method="POST" action="/newGroup" enctype= "multipart/form-data">
      <div class="row">
        <div class="input-field col s12">
          <input id="groupName" name = "groupName"type="text" class="validate">

          <label for="groupName">Group Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">

          <textarea id="group-description" class="materialize-textarea" name = "groupDesc"></textarea>
          <label for="group-description">Group Description</label>
        </div>
      </div>
      <div class="row file-field input-field">
        <div class="col s12">
          <div class="btn">
            <span>Upload Image</span>
            <input type="file" name = "avatar" multiple>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" name= "fileName" placeholder="Upload an image">
          </div>
        </div>
      </div>
      <button class="wave-effect waves-light btn submitButton" type="submit">Create Group</button>
    </form>
  </div>  
</div>
