<div class="container">
  <div class="row">
    <form class="col s12" method="POST" action="/newgroup">
      <div class="row">
        <div class="input-field col s12">
          <input name="groupName" id="groupName" type="text" class="validate">
          <label for="groupName">Group Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="groupDescription" id="group-description" class="materialize-textarea"></textarea>
          <label for="group-description">Group Description</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="groupChallenge" id="group-challenge" class="materialize-textarea"></textarea>
          <label for="group-challenge">Group Challenge</label>
        </div>
      </div>
      <button class="wave-effect waves-light btn submitButton" type="submit">Create Group</button>
    </form>
  </div>  
</div>
