<div class = "container formDiv">
    <div class = "row">
        <form class = "col s12" method = "POST" action= "/api/create">
            <div class="input-field col s12">
                <input placeholder="Username" id="username" type="text" name="username">
                <label for="username">Username</label>
            </div>
            <div class="input-field col s12">
                <input placeholder="Email" id="email" type="email" name="email">
                <label for="email">Email</label>
            </div>
            <div class="input-field col s12">
                <input placeholder="Password" id="password" type="password" name="password">
                <label for="password">Password</label>
            </div>
            <div class="input-field col s12">
                <input placeholder="Re-enter Password" id="repassword" type="password" name="repassword">
                <label for="repassword">Re-enter Password</label>
            </div>
            <button class = "wave-effect waves-light btn submitButton" type = "submit"></button>
        </form>
    </div>
</div>